* {
  padding: 0;
  margin: 0;
}

.courseCard {
  width: 100%;
  height: auto;
  color: white;
  background-color: gray;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 3%;
  text-decoration: none;
}
.courseCard:hover {
  text-decoration: none;
  cursor: pointer;
  color: lightgray;
}

.courseList {
  position: relative;
  top: 40px;
  left: 50px;
  width: 30%;
  display: grid;
  grid-template-columns: 1;
}

.title {
  position: relative;
  background-color: yellow;
  left: 50px;
  padding: 4px;
  top: 15px;
  display: inline;
  border-radius: 3px;
}
