.cc-card {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  justify-content: center;
  box-shadow: 4px 4px 8px -3px rgba(163, 71, 71, 0.15);
  width: 37%;
  margin: 10px;
  text-decoration: none;
  color: black;
  height: 120px;
}

.cc-avatar {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px 0 15px 15px;
}

.cc-image {
  width: 60px;
  height: auto;
}

.cc-content-container {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.cc-title {
  margin: 0 0 5px 0;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 7px;
}

.cc-content {
  font-size: 0.8em;
  margin: 0;
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: solid gray 1px;
}

.home-courseList {
  position: relative;
  margin-left: 170px;
  top: 100px;
  margin-bottom: 10%;
}
