* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: black;
  height: 45px;
  position: relative;
}

.home {
  position: absolute;
  top: 17%;
  height: 60%;
  width: 3%;
  right: 80px;
}

.homeIcon {
  height: 100%;
  width: 100%;
}

.logout {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 3%;
  right: 25px;
  border: solid black;
}

.logoutIcon {
  height: 100%;
  width: 100%;
  border: solid black;
}

.pageName {
  font-size: medium;
  color: white;
  position: absolute;
  left: 25px;
}

.my-navbar {
  position: fixed;
  background-color: #132036;
}

.my-nav {
  display: flex;
  align-items: center;
}

.my-nav > img {
  position: absolute;
  top: 17%;
  height: 60%;
  width: 3%;
}

.nav-link {
  color: rgb(114, 110, 110);
}
.nav-link:hover {
  color: whitesmoke;
}
