* {
    padding: 0;
    margin: 0;
  }
  
  .loginImg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: -1;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
  
  .logo {
    margin:auto;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 90px;
    left: 45%;
    display: inline;
    z-index: 1;
  }
  
  .title1 {
    margin:auto;
    position: absolute;
    top: 235px;
    left: 37%;
    z-index: 1;
    font-weight: bold;
    color: black;
  }
  
  .title2 {
    position: absolute;
    top: 265px;
    left: 35%;
    z-index: 1;
    font-weight: bold;
    color: black;
  }
  
  .titleWithLogo {
    left: 50%;
    z-index: 1;
    text-align:center;
    display: inline-block;
  }
  


  .center_div{
    display: inline-block;
    top: -100px;
    
  }
  
  .myform {
    z-index: 100;
    margin: auto;
    width: 300px;
    padding: 0;
  }

  .formTitle {
    z-index: 100;
    text-align: center;
    font-weight: bold;
    color: black;
  }







  /* .loginImg {
    width: 100%;
    height: 75vh;
    z-index: 2;
  }
  
  .loginCard {
    width: 25%;
    position: relative;
    left: 37%;
    top: -100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  } */