* {
  padding: 0;
  margin: 0;
}

.dataFields {
  position: absolute;
  top: 150px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 280px;
  grid-gap: 5px 20px;
}

.submitButton {
  position: relative;
  color: white;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: none;
  top: 350px;
  left: 45%;
}
